server="https://mycompany.atlassian.net/wiki" # Your Confluence Server
user="joeblow" # What is your Username
docroot="${HOME}/Conflence/" # Where do you want your docs created
ccli="${HOME}/streams/confluence-cli-2.6.0/" # Where is your Confluence cli located
use_nailgun=YES
